<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="com.dudu.autoui.theme.suming.nitaihei" platformBuildVersionCode="28" platformBuildVersionName="9">
    <application android:label="@string/app_name"/>
</manifest>